/**********************
	
	COMMON/GENERAL STYLES

**************************/
*{
	margin:0;
	letter-spacing: 2px;
	border-radius: 0% !important;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
	text-transform: uppercase;
}

.row{
	margin-bottom: 2%;
}
/**************************

	DELANI TOP CONTENT STYLES
	
********************************/
.delani-top-content{
	color:#fff;
  background-size: cover;
  background-position: center; 
	background-repeat: no-repeat;
	background-image: url('../assets/backgrounds/h_img.jpg');
}

.delani-brand{
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: uppercase;
}

.top-content{
	margin:10% 0% 5% 0%;
}

.top-content-head{
	margin:35% 0% 0% 3%;
}

.top-content span::before {
  content: "\A\A";
  white-space: pre;
}

.top-content span::after {
  content: "\A";
  white-space: pre;
}

.top-content-footer{
	padding-top: 20%;
	margin:12% 0% 0% 0%;
}

.top-content-footer img{

}
/**************************

	DELANI MAIN CONTENT STYLES
	
********************************/
.delani-about-us-content{
	padding: 2.5% 0% 0% 5%;
	line-height: 5vh;
}

.delani-services-content-services{
	padding: 0% 0% 0% 5%;
	line-height: 5vh;
}

.delani-about-us-content p, .delani-services-content-services p{
	font-size: 12px;
	margin-bottom: 0px;
}

.delani-services-content{
	color:#fff;
  background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/backgrounds/s_image.jpg');
}

.delani-portfolio-content{
	padding:0% 10% 10% 12.5%;
}

/****************

	PORTFOLIO IMAGES

*********************/
.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
	color:#fff;
	width: 200px;
	height: 200px;
	margin:1.5% 1.5% 1.5% 1.5%;
  background-size: cover;
  background-position: center; 
	background-repeat: no-repeat;
}

.work1{
	background-image: url('../assets/portfolio/work1.jpg');
}

.work2{
	background-image: url('../assets/portfolio/work2.jpg');
}

.work3{
	background-image: url('../assets/portfolio/work3.jpg');
}

.work4{
	background-image: url('../assets/portfolio/work4.jpg');
}

.work5{
	background-image: url('../assets/portfolio/work5.jpg');
}

.work6{
	background-image: url('../assets/portfolio/work6.jpg');
}

.work7{
	background-image: url('../assets/portfolio/work7.jpg');
}

.work8{
	background-image: url('../assets/portfolio/work8.jpg');
}
/**************************

	DELANI BOTTOM CONTENT STYLES
	
********************************/