/**********************
	
	COMMON/GENERAL STYLES

**************************/
*{
	margin:0;
	letter-spacing: 2px;
	border-radius: 0% !important;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
	text-transform: uppercase;
}
/**************************

	DELANI TOP CONTENT STYLES
	
********************************/
.delani-top-content{
	color:#fff;
	background-image: url('../assets/backgrounds/h_img.jpg');
	background-repeat: no-repeat;
  background-size: cover;
}

.delani-welcome{
	font-size: 27px;
}

.delani-brand-statement{
	letter-spacing: 1px;
	font-size: 12px;
}

.top-content{
	margin:5% 0% 5% 0%;
}

.top-content-head{
	margin:10% 0% 3% 0%;
}

.top-content span::before {
  content: "\A\A";
  white-space: pre;
}

.top-content-footer{
	margin:7% 0% 0% 0%;
}
/**************************

	DELANI MAIN CONTENT STYLES
	
********************************/
.delani-about-us-content{
	padding: 2.5% 0% 0% 5%;
	line-height: 4vh;
}

.delani-services-content-services{
	padding: 0% 0% 0% 5%;
	line-height: 4vh;
}

.delani-about-us-content p, .delani-services-content-services p{
	font-size: 12px;
	margin-bottom: 0px;
}

.delani-services-content{
	color:#fff;
	margin-top: 4%;
  background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/backgrounds/s_image.jpg');
}
/**************************

	DELANI BOTTOM CONTENT STYLES
	
********************************/