/**********************
	
	COMMON/GENERAL STYLES

**************************/
*{
	margin:0;
	letter-spacing: 2px !important;
	border-radius: 0% !important;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
	text-transform: uppercase;
}

p{
	font-size: 12px;
}

textarea{
	resize: none;
}

textarea:hover,input:hover, textarea:active, input:active,
textarea:focus,input:focus,label:focus{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.error{
	letter-spacing: 5px;
	display:none;
	font-weight: bold;
	color:#DB4437;
	margin-top: 3%;
}
/**************
	
	PLACEHOLDERS

*****************/
/* Chrome, Firefox, Opera, Safari 10.1+ */
.form-control::placeholder { 
  color: #fff;
  opacity: 1; /* Firefox */
}
/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder { 
  color: #fff;
}

.jumbotron,.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
	color:#fff;
  background-size: cover;
  background-position: center; 
	background-repeat: no-repeat;
}

.row{
	margin-bottom: 2%;
}

.form-control,.form-control:focus,.form-control:active{
	color:#fff;
	border:1px solid #fff;
	background-color: transparent;
}
/**************************

	DELANI TOP CONTENT STYLES
	
********************************/
.delani-top-content{
	background-image: url('../assets/backgrounds/h_img.jpg');
}

.delani-brand{
	font-size: 12px;
	text-transform: uppercase;
}

.top-content{
	margin:10% 0% 5% 0%;
}

.top-content-head{
	margin:35% 0% 0% 3%;
}

.top-content span::before {
  content: "\A\A";
  white-space: pre;
}

.top-content span::after {
  content: "\A";
  white-space: pre;
}

.top-content-footer{
	padding-top: 20%;
	margin:12% 0% 0% 0%;
}
/**************************

	DELANI MAIN CONTENT STYLES
	
********************************/
.delani-about-us-content{
	padding: 2.5% 0% 0% 5%;
	line-height: 5vh;
}

.delani-services-content-services{
	padding: 0% 0% 0% 5%;
	line-height: 5vh;
}

.delani-services-content{
	background-image: url('../assets/backgrounds/s_image.jpg');
}

.design, .development, .project-management{
	cursor: pointer;
}

#design, #development, #project-management,.icons-description{
	color:#000;
	cursor: pointer;
	display: none;
}

.icons-description{
	margin-bottom: 2%;
	padding:5% 5% 5% 5%;
	border:2px solid #dedede;
	box-shadow: 0px 2px 3px  #dedede;
}

.icons-description h6{
	color:#000;
	font-weight: bold;
	text-transform: capitalize;
}

.icons-description hr{
	border-bottom:2px solid #000;
}
/****************

	PORTFOLIO IMAGES

*********************/
.delani-portfolio-content{
	padding-left: 5.5%;
}

.delani-portfolio-content .row{
	margin-top:-2.5% !important;
	margin-bottom: 0% !important;
}

.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
	width: 200px;
	height: 200px;
}

.work1{
	background-image: url('../assets/portfolio/work1.jpg');
}

.work2{
	background-image: url('../assets/portfolio/work2.jpg');
}

.work3{
	background-image: url('../assets/portfolio/work3.jpg');
}

.work4{
	background-image: url('../assets/portfolio/work4.jpg');
}

.work5{
	background-image: url('../assets/portfolio/work5.jpg');
}

.work6{
	background-image: url('../assets/portfolio/work6.jpg');
}

.work7{
	background-image: url('../assets/portfolio/work7.jpg');
}

.work8{
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),url('../assets/portfolio/work8.jpg');
	 z-index: 1;
}

.work8-overlay{
	z-index: 3;
  top: -190px;
  width: 163px;
  height: 163px;
	color:#fff;
	padding: 7% 2% 2% 7%;
	margin:3% 0% 2% 9%;
	position: relative;
	border:3px solid #fff;
}

.work8-overlay h4{
	font-weight: bold;
}

.work1-project,.work2-project,.work3-project,.work4-project,
.work5-project,.work6-project,.work7-project,.work8-project {
  z-index: 5;
  width: 200px;
  height: 200px;
  top: 0.005em;
  opacity: 0.65;
  display:none;
  font-weight: bold;
  position: absolute;
  padding: 35% 5% 5% 5%;
  background-color: #fff;
  border:2px solid #fff;
  box-shadow:0px 2px 3px #dedede;
}
/**************************

	DELANI BOTTOM CONTENT STYLES
	
********************************/
.delani-contact-us{
	margin-top: -12.5%;
	background-image: url('../assets/backgrounds/c_image.jpg');
}

.delani-contact-us form, .delani-portfolio-content .row{
	padding:0% 10% 5% 10%;
}

.delani-social-contacts{
	margin-top: 3.5%;
}

.delani-social-contacts span{
	margin-right:2%;
}

.delani-footer-studio{
	text-transform: uppercase;
	font-size: 14px;
}
/***************************
	
	ADDITIONAL RESPONSIVENESS

******************************/
@media screen and (min-width: 240px) and (max-width: 767px){
	.portfolio-image-responsive{
		padding-left:25% !important;
	}

	.responsive-image{
		margin-bottom: 3% !important;
	}

	.delani-contact-us{
		margin-top: -27%;
	}
}