/**********************
	
	COMMON/GENERAL STYLES

**************************/
*{
	margin:0;
	letter-spacing: 2px !important;
	border-radius: 0% !important;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
	text-transform: uppercase;
}

p{
	font-size: 12px;
}

textarea{
	resize: none;
}

textarea:hover,input:hover, textarea:active, input:active,
textarea:focus,input:focus,label:focus{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
/**************
	
	PLACEHOLDERS

*****************/
/* Chrome, Firefox, Opera, Safari 10.1+ */
.form-control::placeholder { 
  color: #fff;
  opacity: 1; /* Firefox */
}
/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder { 
  color: #fff;
}

.jumbotron,.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
	color:#fff;
  background-size: cover;
  background-position: center; 
	background-repeat: no-repeat;
}

.row{
	margin-bottom: 2%;
}

.form-control,.form-control:focus,.form-control:active{
	border:1px solid #fff;
	background-color: transparent;
}
/**************************

	DELANI TOP CONTENT STYLES
	
********************************/
.delani-top-content{
	background-image: url('../assets/backgrounds/h_img.jpg');
}

.delani-brand{
	font-size: 12px;
	text-transform: uppercase;
}

.top-content{
	margin:10% 0% 5% 0%;
}

.top-content-head{
	margin:35% 0% 0% 3%;
}

.top-content span::before {
  content: "\A\A";
  white-space: pre;
}

.top-content span::after {
  content: "\A";
  white-space: pre;
}

.top-content-footer{
	padding-top: 20%;
	margin:12% 0% 0% 0%;
}
/**************************

	DELANI MAIN CONTENT STYLES
	
********************************/
.delani-about-us-content{
	padding: 2.5% 0% 0% 5%;
	line-height: 5vh;
}

.delani-services-content-services{
	padding: 0% 0% 0% 5%;
	line-height: 5vh;
}

.delani-services-content{
	background-image: url('../assets/backgrounds/s_image.jpg');
}
/****************

	PORTFOLIO IMAGES

*********************/
.delani-portfolio-content{
	padding-left: 5.5%;
}

.delani-portfolio-content .row{
	margin-top:-2.5% !important;
	margin-bottom: 0% !important;
}

.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
	width: 200px;
	height: 200px;
}

.work1{
	background-image: url('../assets/portfolio/work1.jpg');
}

.work2{
	background-image: url('../assets/portfolio/work2.jpg');
}

.work3{
	background-image: url('../assets/portfolio/work3.jpg');
}

.work4{
	background-image: url('../assets/portfolio/work4.jpg');
}

.work5{
	background-image: url('../assets/portfolio/work5.jpg');
}

.work6{
	background-image: url('../assets/portfolio/work6.jpg');
}

.work7{
	background-image: url('../assets/portfolio/work7.jpg');
}

.work8{
	background-image: url('../assets/portfolio/work8.jpg');
}
/**************************

	DELANI BOTTOM CONTENT STYLES
	
********************************/
.delani-contact-us{
	background-image: url('../assets/backgrounds/c_image.jpg');
}

.delani-contact-us form, .delani-portfolio-content .row{
	padding:0% 10% 5% 10%;
}

